* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #f8fafc;
}

#homeScreen,
#soloMenu,
#gameScreen,
#versusMenu,
#versusScreen,
#gameOverScreen,
#leaderboardScreen {
    width: 100%;
    min-height: 100vh;
}

#homeScreen,
#soloMenu,
#gameScreen,
#versusMenu,
#gameOverScreen,
#leaderboardScreen {
    display: none;
    padding: 30px 20px;
    text-align: center;
}


/* =========================
   HOME
========================= */

#homeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
        radial-gradient(circle at top, #1e3a8a, transparent 45%),
        #0f172a;
}

#homeScreen h1 {
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

#homeScreen h1::after {
    content: "THINK • ANSWER • WIN";
    display: block;
    font-size: 13px;
    letter-spacing: 3px;
    margin-top: 10px;
    opacity: 0.6;
}

#homeScreen h2 {
    margin: 35px 0 15px;
    font-size: 20px;
}

#homeLeaderboard {
    width: 100%;
    max-width: 380px;
    margin-bottom: 25px;
    padding: 20px 25px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    text-align: left;
    backdrop-filter: blur(10px);
}

#homeLeaderboard li {
    padding: 10px 0;
    font-size: 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#homeLeaderboard li:last-child {
    border-bottom: none;
}



button {
    width: 100%;
    padding: 16px;
    margin-top: 12px;

    border: none;
    border-radius: 14px;

    background: #2563eb;
    color: white;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease,
        opacity 0.15s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.3);
}

button:active {
    transform: scale(0.97);
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: #ff0000;
}


/* =========================
   MENUS
========================= */

#soloMenu,
#versusMenu {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at center, #172554, transparent 55%),
        #0f172a;
}

#soloMenu h1,
#versusMenu h1 {
    font-size: 40px;
    margin-bottom: 12px;
}

#soloMenu p,
#versusMenu p {
    margin-bottom: 25px;
    color: #94a3b8;
}

#soloMenu button,
#versusMenu button {
    max-width: 350px;
}



#gameScreen {
    position: relative;
    padding-top: 40px;

    background:
        radial-gradient(circle at top left, #172554, transparent 40%),
        #0f172a;
}

#gameScreen h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

#soloInfo {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 45px;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#soloInfo h3 {
    flex: 1;

    padding: 14px 10px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 14px;

    font-size: 16px;
}

#score {
    color: #60a5fa;
}

#timer {
    color: #fbbf24;
}

#combo {
    color: #fb923c;
}

#question {
    font-size: clamp(38px, 8vw, 64px);
    font-weight: 900;
    margin-bottom: 45px;
}

#choices {
    width: 100%;
    max-width: 650px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

#choices button {
    min-height: 80px;
    margin: 0;

    font-size: 28px;

    background: #1e293b;
    border: 2px solid #334155;
}

#choices button:hover {
    background: #2563eb;
    border-color: #60a5fa;
}



#gameLeaderboard {
    position: absolute;

    top: 20px;
    right: 20px;

    width: 190px;

    padding: 15px;

    background: rgba(15, 23, 42, 0.9);
    border: 1px solid #334155;
    border-radius: 16px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(10px);

    text-align: left;
}

#gameLeaderboard h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
}

#gameLeaderboard ol {
    margin: 0;
    padding-left: 23px;
}

#gameLeaderboard li {
    margin-bottom: 7px;
    font-size: 13px;
}


/* =========================
   1 VS 1
========================= */

#versusScreen {
    display: none;

    height: 100vh;
    min-height: 100vh;

    overflow: hidden;

    flex-direction: column;

    background: #020617;
}

#player1Area,
#player2Area {
    height: 50%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 15px 25px;

    text-align: center;
}

#player1Area {
    transform: rotate(180deg);
}

#player1Area {
    background:
        radial-gradient(circle, #172554, transparent 65%),
        #020617;
}

#player2Area {
    background:
        radial-gradient(circle, #1e293b, transparent 65%),
        #020617;
}

#player1Name,
#player2Name {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

#player1Score,
#player2Score {
    font-size: 26px;
}

#player1Question,
#player2Question {
    font-size: 38px;
    font-weight: 900;
    margin: 20px 0;
}

#player1Choices,
#player2Choices {
    display: flex;
    gap: 10px;
    max-width: 650px;
    width: 100%;
    margin: auto;
}

#player1Choices button,
#player2Choices button {
    margin: 0;
    padding: 18px 5px;
    font-size: 24px;

    background: #1e293b;
    border: 2px solid #334155;
}



#gameOverScreen {
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at center, #172554, transparent 55%),
        #0f172a;
}

#gameOverScreen h1 {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 10px;
}

#finalScore {
    font-size: 26px;
    margin-bottom: 20px;
    color: #60a5fa;
}


#soloSaveArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    width: 100%;
    max-width: 350px;

    margin-top: 20px;
}

#playerName {
    width: 100%;

    padding: 16px 20px;

    font-size: 18px;

    color: white;
    background: #1e293b;

    border: 2px solid #334155;
    border-radius: 14px;

    outline: none;

    text-align: center;

    transition: border 0.2s ease;
}

#playerName::placeholder {
    color: #94a3b8;
}

#playerName:focus {
    border-color: #60a5fa;
}

#saveScore {
    width: 100%;
    margin: 0;
}


#gameOverButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;
    max-width: 350px;

    margin-top: 25px;
}

#gameOverButtons button {
    width: 100%;
    margin: 0;
}


#leaderboardScreen {
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at top, #172554, transparent 50%),
        #0f172a;
}

#leaderboardScreen h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

#leaderboard {
    width: 100%;
    max-width: 450px;

    padding: 20px 30px;

    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.12);

    border-radius: 20px;

    text-align: left;
}

#leaderboard li {
    padding: 13px 5px;

    font-size: 18px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#leaderboard li:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {

    #homeScreen h1 {
        font-size: 44px;
    }

    #homeLeaderboard {
        max-width: 330px;
    }

    #gameScreen {
        padding-top: 25px;
    }

    #gameScreen h1 {
        margin-bottom: 20px;
    }

    #gameLeaderboard {
        position: static;

        width: 100%;
        max-width: 330px;

        margin: 0 auto 20px;

        text-align: left;
    }

    #soloInfo {
        margin-bottom: 30px;
    }

    #soloInfo h3 {
        font-size: 13px;
        padding: 12px 5px;
    }

    #question {
        margin-bottom: 30px;
    }

    #choices {
        grid-template-columns: 1fr;
        max-width: 400px;
    }

    #choices button {
        min-height: 70px;
        font-size: 24px;
    }

    #player1Question,
    #player2Question {
        font-size: 30px;
    }

    #player1Choices button,
    #player2Choices button {
        font-size: 20px;
        padding: 15px 5px;
    }

    #gameOverScreen h1 {
        font-size: 36px;
    }

    #playerName,
    #saveScore,
    #gameOverButtons button {
        max-width: 320px;
    }
}